body {
    background-image: url("https://media.istockphoto.com/photos/display-of-stock-market-quotes-with-city-scene-reflect-on-glass-picture-id874979248?k=6&m=874979248&s=612x612&w=0&h=KCvNd5eo1wPyaR1VDC0DCiZRarNZBrAMtN7OyCQlqDY=");
     height: 700px;
     background-repeat: no-repeat;
     background-size: 1300px 700px ;
 
}